<div class="middle gentleView pad0 ptop">
  <div
    class="row heading2 ft24 tnorm pad20 ptop pbottom mar20 mbottom gradbg_greytrans"
  >
    <div class="col-md-12">Invoices</div>
  </div>
  <div id="searchbox1">
    <form method="POST" id="merchant_form">
      <div class="col-md-3">
        <div class="form-group posrel">
            <label for="">Select Month</label>
            <div class="selectwrp">
                <select name="month" id="month" onchange="" size="1">
                    <option value="NONE">------</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>
    </div>
      <div class="col-md-3">
        <div class="form-group porsel">
          <label for>Select Year</label>
          <div class="selectwrp">
            <select name="year" id="year">
              <option value="NONE">-------</option>

              <option value="2021">2021</option>

              <option value="2022">2022</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group posrel">
          <label for="">Select Type</label>
          <div class="radio-inline">
            <input type="radio" name="invoicetype" value="invoice" checked="" />
            Invoice
            <input type="radio" name="invoicetype" value="invoicedata" />
            Invoice Data
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="btn " >
          <p-button label="Submit"></p-button>
        </div>
      </div>
      <div class="clear30"></div>
    </form>
  </div>
  <hr class="mar30 mbottom">
  <div id="invoice_list" class="txn nofl wdFull">


    <table class="table tb-bordered tb-stripped tgreydark">
        <thead>
        <tr>
            <th scope="col" class="tcenter">Invoice For</th>
            <th scope="col" class="tcenter">Mid</th>




            <th scope="col" class="tcenter">Download Invoice</th>
        </tr>
        </thead>
        <tbody id="tabbody">
        <tr>

                <td>
                    <b>January, 2022</b>
                </td>


                    <td>
                        MBK0198634
                    </td>




                    <td>
                        <a href="/invoicedownload/1/2022/0/">Download
                            Invoice</a>
                    </td>


                </tr>


        </tbody>
    </table>


<div class="ft14 tgreydark tbold tcenter mar30 mtop mbottom"></div>
</div>
</div>
