<h5>RadioButton</h5>
<div class="grid">
  <div class="col-12 md:col-4">
    <div class="p-field-radiobutton">
      <p-radioButton
        name="city"
        value="Chicago"
        [(ngModel)]="city"
        inputId="city1"
      ></p-radioButton>
      <label for="city1">Option 1</label>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="p-field-radiobutton">
      <p-radioButton
        name="city"
        value="Los Angeles"
        [(ngModel)]="city"
        inputId="city2"
      ></p-radioButton>
      <label for="city2">Option 2</label>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="p-field-radiobutton">
      <p-radioButton
        name="city"
        value="New York"
        [(ngModel)]="city"
        inputId="city3"
      ></p-radioButton>
      <label for="city3">Option 2</label>
    </div>
  </div>
</div>

<h5>CheckBox</h5>
<div class="grid">
  <div class="col-12 md:col-4">
    <div class="p-field-checkbox">
      <p-checkbox
        name="group1"
        value="New York"
        [(ngModel)]="selectedCities"
        inputId="ny"
      ></p-checkbox>
      <label for="ny">Option 1</label>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="p-field-checkbox">
      <p-checkbox
        name="group1"
        value="San Francisco"
        [(ngModel)]="selectedCities"
        inputId="sf"
      ></p-checkbox>
      <label for="sf">Option 2</label>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <div class="p-field-checkbox">
      <p-checkbox
        name="group1"
        value="Los Angeles"
        [(ngModel)]="selectedCities"
        inputId="la"
      ></p-checkbox>
      <label for="la">Option 3</label>
    </div>
  </div>
</div>
